footer.footer
	.container.footer__container
		a.logo.footer__logo(href="/")
			img(src="/assets/img/logo.svg")
		.footer__flex
			.footer__description Изготовление корпусной мебели<wbr>в&nbsp;сегменте средний +, люкс, премиум
			.footer__contacts
				.footer__phones
					a.footer__phone(href="tel:+73432136613") + 7 (343) 213-66-13
					a.footer__phone(href="tel:+79000416613") +7 900 041 66 13
				.footer__worktime-ang-email
					.footer__worktime Пн-пт с 9:00 до 18:00
					a.footer__email(href="mailto:info@fab13.ru") info@fab13.ru

			.footer__rekv ИП «Кочнев Илья Дмитриевич»<br>ИНН 665810714455/0<br>ОГРНИП 312665817100077
			.footer__links
				a.js-bookmark(href="#") Сохранить сайт в закладках
				a(href="/policy/") Политика конфиденциальности