header.header
	.container.header__container
		.header__flex
			a.logo.header__logo(href="/")
				img(src="/assets/img/logo.svg")

			.header__description
				.header__description1 Изготовление корпусной мебели
				.header__description2 в сегменте средний +, люкс, премиум

			.header__address
				.header__address-text Екатеринбург, Сибирский тракт, 14-й километр, лит 99
				.header__worktime Пн-пт с 9:00 до 18:00

			.header__phone
				a.header__phone-number(href="tel:+73432136613") + 7 (343) 213-66-13
				.header__callback(data-fancybox="" data-src="#callback_modal") Заказать звонок

	.modal.modal_form.callback-modal#callback_modal
		.title-block
			.title-block__title.modal__title Заказать звонок
			.modal__subtitle Оставьте свой номер и мы перезвоним Вам.

		form(action="/thanks/" method="post")
			input(type="hidden" name="form-name" value="Заказать звонок")

			.modal__phone-form
				.form-group
					input.js-phone.form-group__input.form-group__input_phone.form-group__input_modal.text-input(type="text" name="phone" placeholder="+7 (___) ___-__-__" required)

				.modal__button
					button.button.button_xl.button_w100 Перезвоните мне

			.modal__form-pk Нажимая на кнопку, вы соглашаетесь с&#32;
				a(href="/policy/") политикой конфиденциальности
