header.header
	.container.header__container
		.header__flex
			a.logo.header__logo(href="/")
				img(src="/assets/img/logo.svg")

			.header__description
				.header__description1 Изготовление корпусной мебели
				.header__description2 в сегменте средний +, люкс, премиум

			.header__address
				.header__address-text Екатеринбург, Сибирский тракт, 14-й километр, лит 99
				.header__worktime Пн-пт с 9:00 до 18:00

			.header__phone
				a.header__phone-number(href="tel:8") + 7 (343) 213-66-13
				a.header__callback(href="#") Перезвоним за 27 секунд