header.header.header_thanks
	.container.header__container
		.header__flex
			a.logo.header__logo(href="/")
				img(src="/assets/img/logo.svg")

			.header__description
				.header__description1 Изготовление корпусной мебели
				.header__description2 в сегменте средний +, люкс, премиум

			.header__whatsapp
				img(src="/assets/img/whatsapp-icon.svg")
				.header__whatsapp-text Вы можете задать вопрос директору компании — Илье Кочневу прямо&nbsp;сейчас в WhatsApp