extends common/layout
include ./_mixins

block variables
    - var title = 'Главная'

block content

    include ./common/header

    include ./parts/_first-screen
    include ./parts/_first-screen-bottom
    include ./parts/_services
    include ./parts/_quiz-section
    include ./parts/_recognize-you
    include ./parts/_no-problem
    include ./parts/_deadlines-why
    include ./parts/_deadlines
    include ./parts/_we-are-chosen
    include ./parts/_speed-work
    include ./parts/_care
    include ./parts/_whatsapp-section
    include ./parts/_price-list
    include ./parts/_compare
    include ./parts/_goblet-numbers
    include ./parts/_companies
    include ./parts/_invite
    include ./parts/_bureaucracy
    include ./parts/_business
    include ./parts/_economize
    include ./parts/_whatsapp-section
    include ./parts/_stored-product
    include ./parts/_how-to-order
    include ./parts/_faq
    include ./parts/_team
    include ./parts/_history
    include ./parts/_quality-control
    include ./parts/_something-went-wrong
    include ./parts/_discuss-with-dir
    include ./parts/_contacts
    include ./parts/_page-missing
    include ./parts/_project-modal
    include ./parts/_personal-modal
    include ./parts/_whatsapp-modal

    include ./common/footer