extends common/layout
include ./_mixins

block variables
    - var title = 'Главная'

block content
    include ./parts/_first-screen
    include ./parts/_first-screen-bottom
    include ./parts/_services
    include ./parts/_quiz-section
    // 23
    include ./parts/_no-problem
    // 19
    include ./parts/_deadlines
    include ./parts/_we-are-chosen
    include ./parts/_speed-work
    //18
    include ./parts/_whatsapp-section
    include ./parts/_price-list
    include ./parts/_compare
    //22
    //20
    include ./parts/_invite

    //13
    //21
    //17
    //16
    //12
    //23
    //14
    //15
    //11
    //footer
