extends common/layout
include ./_mixins

block variables
	- var title = 'Главная'

block content
	.policy
		.container
			.title-block
				.title-block__title Политика конфиденциальности и защиты информации
			.policy__text
				p Оставляя данные на сайте, Вы соглашаетесь с Политикой конфиденциальности и защиты информации.

				p
					b Защита данных

				p Администрация сайта (далее Сайт) не может передать или раскрыть информацию, предоставленную пользователем (далее Пользователь) при регистрации и использовании функций сайта третьим лицам, кроме случаев, описанных законодательством страны, на территории которой пользователь ведет свою деятельность.

				p
					b Получение персональной информации

				p Для коммуникации на сайте пользователь обязан внести некоторую персональную информацию. Для проверки предоставленных данных, сайт оставляет за собой право потребовать доказательства идентичности в онлайн или офлайн режимах.

				p
					b Использование персональной информации

				p Сайт использует личную информацию Пользователя для обслуживания и для улучшения качества предоставляемых услуг. Сайт прилагает все усилия для сбережения в сохранности личных данных Пользователя. Личная информация может быть раскрыта в случаях, описанных законодательством, либо когда администрация сочтет подобные действия необходимыми для соблюдения юридической процедуры, судебного распоряжения или легального процесса необходимого для работы Пользователя с Сайтом. В других случаях, ни при каких условиях, информация, которую Пользователь передает Сайту, не будет раскрыта третьим лицам.

				p
					b Коммуникация

				p После того, как Пользователь оставил данные, он получает сообщение, подтверждающее его успешную регистрацию. Пользователь имеет право в любой момент прекратить получение информационных бюллетеней воспользовавшись соответствующим сервисом в Сайте.

				p
					b Безопасность

				p Сайт обеспечивает безопасность учетной записи Пользователя от несанкционированного доступа.

				p
					b Уведомления об изменениях

				p Сайт оставляет за собой право вносить изменения в Политику конфиденциальности без дополнительных уведомлений. Нововведения вступают в силу с момента их опубликования. Пользователи могут отслеживать изменения в Политике конфиденциальности самостоятельно.


			.policy__btn
				a.button.button_xl(href="/") Вернуться на сайт