.first-screen-bottom
	background: linear-gradient(180deg, #2A3A39 0%, #485D58 100%)

	&__items
		display: flex
		min-height: 16.4rem
		justify-content: space-between
		max-width: 104rem
		margin: auto
		padding-left: 2.3rem

	&__item
		align-self: center
		margin-bottom: 1.2rem

	&__title
		font: 2.4rem 'Playfair Display'
		font-weight: 400
		line-height: 1.62
		color: #C7B299

	&__subtitle
		font-size: 1.6rem
		font-weight: 400
		line-height: 1.1875
		color: #EFEFEF
		margin-top: -.5rem

	&__sepatator
		width: 1px
		background: rgba(#C7B299, .3)
		flex-shrink: 0

@media screen and (max-width: $mob-width)
	.first-screen-bottom
		padding: 2.4rem 0.5rem 2.4rem 4rem
		&__items
			flex-direction: column
			padding-left: 0

		&__item
			align-self: flex-start

		&__sepatator
			display: none
