@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap')

html
	font-size: 10px
	font-family: 'Roboto', sans-serif
	//font-family: 'Playfair Display', serif

body
	background: #E5E5E5

.page-wrap
	width: 100%
	max-width: $page-max-width
	min-width: $page-min-width
	background: #ffffff
	margin: 0 auto
	box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.2)
	overflow: hidden
	position: relative

.uppercase
	text-transform: uppercase


.container
	width: 100%
	max-width: calc(#{$container-max-width} + #{$container-paddings})
	padding: 0 $container-paddings
	margin: 0 auto
	box-sizing: border-box

.text-gold
	display: inline
	color: #C7B299

input[type="checkbox"][name="accept"]
	display: none!important

@media screen and (min-width: ($mob-width + 1px))
	.mobile-only
		display: none!important

@media screen and (max-width: $mob-width)
	.pc-only
		display: none!important
	.page-wrap
		max-width: 320px

	.container
		&_mob-full
			padding-left: 0
			padding-right: 0