.page-missing
	padding: 8.3rem 0 14rem

	&__title
		max-width: 76rem
		margin: auto

	&__button
		margin: 6rem auto 0
		max-width: 32.1rem

	&__textarea
		height: 26.4rem
		margin-top: 4.8rem

	&__modal
		padding: 3rem 7.2rem 5rem

	&__thanks
		padding: 15rem 0