.bureaucracy.dark-section.dark-section_stripes
	.bureaucracy__gradient
	.container
		.title-block.bureaucracy__title-block.title-block_light
			.title-block__title.bureaucracy__title Вы не столкнетесь<br>
				.text-gold с безразличием и бюрократией
			.title-block__separator
			.title-block__subtitle.bureaucracy__subtitle С вами работает&#32;
				.text-gold команда службы заботы,
				|  которая всегда входит в положение клиента

		.bureaucracy__items
			.bureaucracy__item
				.bureaucracy__item-title
					.text-gold Решаем вашу проблему
					|  с&nbsp;оптимизацией в&nbsp;изделии

				.bureaucracy__text
					div Например, если вы присылаете неправильно нарисованную модель мебели, мы можем ее доработать,
						.text-gold не напрягая вас вопросами и просьбами дорисовать.
					br
					div Если можем сами, то доделаем.
			.bureaucracy__item
				.bureaucracy__item-title
					.text-gold Если при<br>доставке<br>
					|  что-то<br>сломалось

				.bureaucracy__text
					div Если при доставке или установке что-то сломалось, мы решаем вопрос максимально быстро,&#32;
						.text-gold чтобы ваши клиенты не ждали.
					br
					div Буквально за полчаса.
					br
					div Вы доплачивате уже даже после того, как забрали детали.
			.bureaucracy__item
				.bureaucracy__item-title Если салон&#32;
					.text-gold не&nbsp;попал<br>в&nbsp;размеры

				.bureaucracy__text
					div Если у вас ломается деталь или кухонный салон не попал в размеры, мы оперативно перепиливаем.
					br
					div
						.text-gold Решаем
						|  все проблемы максимально быстро,&#32;
						.text-gold часто в тот же день.
			.bureaucracy__item
				.bureaucracy__item-title Мы отзывчивые&#32;
					.text-gold и&nbsp;искренние

				.bureaucracy__text
					div Решаем ваши проблемы как можно скорее.
					br
					div
						.text-gold В других компаниях,
						|  когда вы звоните по своему заказу, всем все равно. Вам могут долго отвечать или не ответить совсем.
					br
					div У нас такого нет. Искренне заботимся о каждом клиенте.

		.bureaucracy__button
			.button.button_xl(data-fancybox="" data-src="#order_blanks") Скачать бланк заказа
			.bureaucracy__under-button
				div Сформированный заказ отправьте нам
				div на почту:&#32;
					a(href="mailto:hello@fabrica13.ru") hello@fabrica13.ru
				div или в WhatsApp:&#32;
					a(href="https://api.whatsapp.com/send?phone=79215847887" target="_blank") +79215847887

	.modal#order_blanks
		.title-block
			.title-block__title.title-block__title_40 Бланки для заказа
			.title-block__separator
		.files
			a.files__item(target="_blank" href="/files/Бланки заказов/Бланк заявки на фасады под покраску.xlsx") Бланк заявки на фасады под покраску.xlsx
			a.files__item(target="_blank" href="/files/Бланки заказов/Бланк заявки на фасады шпона.xlsx") Бланк заявки на фасады шпона.xlsx
			a.files__item(target="_blank" href="/files/Бланки заказов/БЛАНК13.xls") БЛАНК13.xls