.business
	.container
		.title-block.business__title-block
			.title-block__title.business__title Как мы помогаем&#32;
				.text-gold увеличить ваш доход в бизнесе
			.title-block__separator
			.title-block__subtitle.business__subtitle за счет отличного качества и точного соблюдения сроков

		.business__items
			.business__item
				.business__img
					img(src="/assets/img/business-1.svg")
				.business__bold Получайте больше хороших отзывов
				div от ваших клиентов
			.business__item.business__item
				.business__img.business__img_2
					img(src="/assets/img/business-2.svg")
				.business__bold Забудьте о судах с вашими клиентами
				div из-за сроков, качества и брака
			.business__item
				.business__img
					img(src="/assets/img/business-3.svg")
				.business__bold Получайте больше клиентов
				div за счет их отзывов