// css референс _bureaucracy
.care.dark-section.dark-section_stripes
	.care__gradient
	.container
		.title-block.care__title-block.title-block_light
			.title-block__title.care__title Упрощаем вам жизнь&#32;
				.text-gold и&nbsp;заботимся
			.title-block__separator
			.title-block__subtitle.care__subtitle Поэтому&#32;
				.text-gold 100% клиентов
				|  приходят к нам сейчас по рекомендации

		.care__items
			.care__item
				.care__item-title Собрали все&#32;
					.text-gold услуги в одном месте
				.care__text Чтобы вы не тратили время и не искали, где это&nbsp;все сделать в&nbsp;разных&nbsp;местах

			.care__item
				.care__item-title
					.text-gold Делаем предсборку&#32;
					| на&nbsp;производстве
				.care__text А вы уже везете готовыми&nbsp;модулями своему заказчику

			.care__item
				.care__item-title Есть&#32;
					.text-gold удобная площадка
					|  вокруг&nbsp;цеха
				.care__text Для погрузки/выгрузки, чтобы вам никто не мешал

			.care__item
				.care__item-title Зимой работают&#32;
					.text-gold подъемные ворота
				.care__text Для вашего удобства Газель заезжает и&nbsp;загружается в&nbsp;тепле
