.companies.mobile-only
	.title-block.companies__title-block
		.title-block__title.companies__title Нам уже доверились&#32;
			.text-gold самые известные компании
		.title-block__separator
		.title-block__subtitle.companies__subtitle Сейчас нам интересно выстроить долгосрочное сотрудничество&#32;
			.text-gold с кухонными салонами

	.companies__items
		.companies__item
			+assets_img("companies-1", "png")
		.companies__item
			+assets_img("companies-2", "png")