.contacts
	.contacts__map.
		<script defer type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A497e4772082d91a1163891313338e666710e563295a838545f84be81bbda8e1c&amp;width=100%25&amp;height=990&amp;lang=ru_RU&amp;scroll=true"></script>

	.contacts__panel
		.contacts__title Контакты
		.contacts__subtitle До Фабрики 13 добраться очень просто. Для вас мы специально&#32;
			strong подобрали удобное местоположение.

		.contacts__items
			.contacts__item.contacts__item_address
				.contacts__item-title Адрес офиса и производства:
				.contacts__item-content Екатеринбург,<br>Сибирский тракт,<br>14-й километр, лит 99

			.contacts__item.contacts__item_worktime
				.contacts__item-title Время работы:
				.contacts__item-content По будням: с 9:00 до 17:30<br>Суббота и воскресенье: выходной

			a.contacts__item.contacts__item_phone(href="tel:+73432136613") +7 (343) 213-66-13
			a.contacts__item.contacts__item_email(href="mailto:hello@fabrica13.ru") hello@fabrica13.ru
