.deadlines-why.dark-section.dark-section_with-arrow
	.deadlines-why__gradient
	.title-block.title-block_light.deadlines-why__title-block
		.title-block__title.deadlines-why__title Почему вы будете уверены в соблюдении сроков&#32;
			.text-gold именно с Фабрикой 13
		.title-block__separator
		.title-block__subtitle.deadlines-why__subtitle
			div Часто крупные производства в Екатеринбурге берут на торгах крупный заказ и&nbsp;начинают двигать клиентов по срокам или просто отказывают
			br
			div
				.text-gold У нас такого не будет, мы не берем тендера<br>И не берем больше, чем успеем сделать

	.container
		.deadlines-why__items
			.deadlines-why__item
				.deadlines-why__item-img
					img(src="/assets/img/deadlines-why-1.svg")
				.deadlines-why__item-title Считаем быстро
				.deadlines-why__item-text
					div Вы получаете
						.text-gold расчет стоимости и сроков в течение дня.
					br
					div Если менеджер свободен, то через полчаса.

			.deadlines-why__item
				.deadlines-why__item-img
					img(src="/assets/img/deadlines-why-2.svg")
				.deadlines-why__item-title Работаем быстро
				.deadlines-why__item-text
					div Все заказы сдаем в срок.
					br
					div В 2021 году&#32;
						.text-gold 80% заказов были&nbsp;сданы раньше срока.

			.deadlines-why__item
				.deadlines-why__item-img
					img(src="/assets/img/deadlines-why-3.svg")
				.deadlines-why__item-title Соблюдаем сроки
				.deadlines-why__item-text
					div
						.text-gold Если мы заявили конкретные сроки изготовления,
						|  будьте уверены в них на 100%.

	.deadlines-why__button
		.button.button_xl Отправить проект
		.deadlines-why__under-button эскиз от руки или модель в программе “Базис”