.deadlines
	.container
		.title-block
			.title-block__title
				.text-gold На какие сроки
				div гарантированно рассчитывать?

			.title-block__separator.title-block__separator_lg

			.title-block__subtitle.deadlines__subtitle Точные сроки можем назвать, когда увидим ваш проект на&nbsp;бумаге или в&nbsp;программе Базис

		.deadlines__items
			.deadlines__item
				.deadlines__item-title Небольшое изделие:
				.deadlines__item-subtitle до 3 дней
				.deadlines__item-example-title Например:
				.deadlines__item-example прямоугольный стандартный шкаф без дополнительных вырезов
				picture
					img(src="/assets/img/deadlines-1.svg")

			.deadlines__separator

			.deadlines__item
				.deadlines__item-title Крупное изделие:
				.deadlines__item-subtitle до 7 дней
				.deadlines__item-example-title Например:
				.deadlines__item-example кухня
				picture
					img(src="/assets/img/deadlines-2.svg")

			.deadlines__separator

			.deadlines__item
				.deadlines__item-title Большие заказы:
				.deadlines__item-subtitle от 7 дней
				.deadlines__item-example-title Например:
				.deadlines__item-example мебель для всей квартиры
				picture
					img(src="/assets/img/deadlines-3.svg")

		.deadlines__deadline-margin
			.deadlines__deadline-margin-title Срок берем с запасом
			.deadlines__deadline-margin-text Если на производстве небольшая загруженность, то можем сделать быстрее. Например, кухню не за 7 дней, а за 2-3 дня.

		.deadlines__button
			.button.button_xl Рассчитать срок изготовления
			.deadlines__under-button с вашим эскизом или моделью