.discuss-with-dir
	.container
		.discuss-with-dir__flex
			.discuss-with-dir__left
				.title-block.title-block_left
					.title-block__title Хотите&#32;
						.text-gold обсудить
						|  сотрудничество&#32;
						.text-gold лично с&nbsp;директором?
				.discuss-with-dir__coffee Приходите в офис на чашечку кофе
				.discuss-with-dir__button
					.button.button_xl Записаться на встречу с&nbsp;директором
					.discuss-with-dir__under-button для руководителей

			.discuss-with-dir__right
				+assets_img("discuss-with-dir", "jpg")
				.discuss-with-dir__name Кочнев Илья Дмитриевич
				.discuss-with-dir__who Директор