.economize
	.container
		.economize__title-panel
			.title-block.economize__title-block
				.title-block__title.economize__title Экономим ваши нервы, время и деньги
				.title-block__separator
				.title-block__subtitle.economize__subtitle За вами закреплен персональный менеджер, с&nbsp;которым вы будете&#32;
					.economize__title-accent на связи в WhatsApp

		.economize__items
			.economize__item
				.economize__item-title Нервы
				.economize__item-text
					.economize__bold В других компаниях всем все равно.
					br
					| Мы вникаем во все ваши проблемы.
					br
					| Быстро помогаем.
					br
					| У наших клиентов не бывает судов&nbsp;из&#8209;за&nbsp;сроков и&nbsp;качества.

			.economize__item
				.economize__item-title Время
				.economize__item-text
					.economize__bold В других компаниях,
					|  если вам нужно что-то доделать/переделать/дозаказать,&#32;
					.economize__bold вас поставят в очередь и вы потеряете целый месяц.
					br
					| У нас такого нет, сделаем быстро.

			.economize__item
				.economize__item-title Деньги
				.economize__item-text
					.economize__bold В других компаниях, если вам испортят&nbsp;заказ
					|  и надо всё или частично делать заново, вы потеряете деньги за&nbsp;этот&nbsp;заказ.
					br
					| С нами это исключено.