.faq
	.faq__line
	.container
		.title-block.title-block_light.faq__title-block
			.title-block__title.faq__title Мы знаем, что вы еще&#32;
				.text-gold хотите спросить
			.title-block__separator
			.title-block__subtitle.faq__subtitle На ваши вопросы отвечает &#32;
				.text-gold менеджер службы заботы
		.faq__flex
			.faq__items
				.faq__item
					.faq__question В каком виде можно скинуть проект?
					.faq__answer
						div Мы принимаем проекты в программе «Базис».
						br
						div Так же вы можете прислать эскиз от руки, а мы разработаем по нему модель.
				.faq__item
					.faq__question Какие сроки изготовления?
					.faq__answer Для определения сроков нам надо посмотреть эскиз от руки или модель в программе “Базис”. Отправим расчет в тот же день. Небольшое изделие до 3 дней. Крупное изделие до 7 дней.
				.faq__item
					.faq__question С какими материалами работаете?
					.faq__answer ЛДСП, МДФ, фасадные плиты, шпонированный МДФ.
				.faq__item
					.faq__question Могу я придти со своим материалом?
					.faq__answer Да. Работаем как с материалом заказчика, так и закупаем сами
				.faq__item
					.faq__question Почему я буду уверен в сроках?
					.faq__answer 83% проектов было сделано за 2018 год раньше срока. остальные 17% были выполнены в срок или с задержкой максимум 3 дня
				.faq__item
					.faq__question Почему я буду уверен в качестве?
					.faq__answer Мы пережили много ситуаций. И приняли решение: имеет смысл делать только супер-качественно на всех этапах производства.<br>Вот 4 составляющих, дающие нам возможность гарантировать качество:
						ol
							li За счет качества материалов, в которых мы уверены на 100%.
							li Мы перебрали множество поставщиков и работаем только с самыми надежными.
							li Новейшее дорогое оборудование, исключающее человеческий фактор.
							li Проверка каждого изделия вручную.

			.faq__right
				+assets_img("faq-manager", "png")

				.faq__button.button.button_xl(data-fancybox="" data-src="#modal_to_manager") Задать свой вопрос менеджеру прямо сейчас