.first-screen-mob-dir.mobile-only
	.first-screen-mob-dir__director
		+assets_img('first-screen-director', 'png')
	.first-screen-mob-dir__message
		.first-screen-mob-dir__message-bg
		.first-screen-mob-dir__message-text Я лично отвечаю за&nbsp;качество и&nbsp;сроки по&nbsp;каждому заказу
		.first-screen-mob-dir__message-signature
			+assets_img('first-screen-message-signature', 'png')
	.first-screen-mob-dir__autograph
		.first-screen-mob-dir__autograph-name Кочнев Илья Дмитриевич
		.first-screen-mob-dir__autograph-who Основатель компании