.first-screen-bottom
	.container
		.first-screen-bottom__items
			.first-screen-bottom__item
				.first-screen-bottom__title Срок 3-7 дней
				.first-screen-bottom__subtitle без задержек

			.first-screen-bottom__sepatator

			.first-screen-bottom__item
				.first-screen-bottom__title Высокое качество
				.first-screen-bottom__subtitle за счет нового оборудования

			.first-screen-bottom__sepatator

			.first-screen-bottom__item
				.first-screen-bottom__title Средние цены
				.first-screen-bottom__subtitle по рынку

			.first-screen-bottom__sepatator

			.first-screen-bottom__item
				.first-screen-bottom__title Удобный заказ
				.first-screen-bottom__subtitle на сайте или в WhatsApp