.first-screen
	.container.first-screen__container
		.first-screen__left
			.first-screen__title Изготовим корпусную мебель
			.first-screen__subtitle под ключ за 3-7 дней
			.first-screen__prod
				.first-screen__prod-title Производство
				.first-screen__prod-square 1 000 м
					span.first-screen__prod-square2 2

			.first-screen__for
				.first-screen__for1 Для салонов по продаже кухонь,
				.first-screen__for2 застройщиков, строителей,
				.first-screen__for2 DIY энтузиастов,
				.first-screen__for2 выставочных компаний

			.button Рассчитать стоимость
			.first-screen__price-today скажем стоимость и сроки сегодня

		.first-screen__right
			.first-screen__message Я лично отвечаю<wbr>за качество и сроки<wbr>по&nbsp;каждому заказу
			.first-screen__autograph
				div.uppercase Кочнев Илья Дмитриевич
				div Основатель компании