include ../_mixins
.first-screen
	.container.first-screen__container
		.first-screen__left
			.first-screen__title Изготовим корпусную мебель
			.first-screen__subtitle под ключ за 3-7 дней
			.first-screen__prod
				.first-screen__prod-title Производство
				.first-screen__prod-square 1 000
					span.first-screen__prod-square-m м
					span.first-screen__prod-square2 2

			.first-screen__for
				.first-screen__for1 Для салонов по продаже кухонь,
				.first-screen__for2 застройщиков, строителей,
				.first-screen__for2 DIY энтузиастов,
				.first-screen__for2 выставочных компаний

			.first-screen__button-wrap
				.button.button_xl(data-scroll="#quiz_section") Рассчитать стоимость
				.first-screen__price-today скажем стоимость и сроки сегодня

		.first-screen__right
			.first-screen__director
				+assets_img('first-screen-director', 'png')
			.first-screen__message
				.first-screen__message-bg
				.first-screen__message-text Я лично отвечаю за&nbsp;качество и&nbsp;сроки по&nbsp;каждому заказу
				.first-screen__message-signature
					+assets_img('first-screen-message-signature', 'png')
			.first-screen__autograph
				.first-screen__autograph-name Кочнев Илья Дмитриевич
				.first-screen__autograph-who Основатель компании