.goblet-numbers
	.goblet-numbers__gradient
	.container
		.goblet-numbers__items
			.goblet-numbers__item
				.goblet-numbers__title 60%
				.goblet-numbers__subtitle постоянных клиентов
			.goblet-numbers__item
				.goblet-numbers__title 100%
				.goblet-numbers__subtitle клиентов пришли по рекомендации
			.goblet-numbers__item
				.goblet-numbers__title 20 млн
				.goblet-numbers__subtitle стоили нам современные станки
			.goblet-numbers__item
				.goblet-numbers__title 1 000 м<sup>2</sup>
				.goblet-numbers__subtitle площадь производства
			.goblet-numbers__item
				.goblet-numbers__title 1 000+
				.goblet-numbers__subtitle заказов выполнено
			.goblet-numbers__item
				.goblet-numbers__title 80%
				.goblet-numbers__subtitle заказов сдано раньше срока