.history.pc-only
	.container
		.title-block.title-block_light.history__title-block
			.title-block__title.history__title Почему я решил открыть качественное производство,&#32;
				.text-gold которое перевернет весь рынок
			.title-block__separator
			.title-block__subtitle.history__subtitle И поставил себе цель —&#32;
				.text-gold предоставить лучшее качество
				|  в Екатеринбурге

		.history__content
			.history__panel
				.history__panel-bg
					svg(width='100%' height='100%' xmlns='http://www.w3.org/2000/svg')
						defs
							mask#history_panel_bg_mask
								rect(x='0' y='0' width='100%' height='100%' fill='white')
								circle(cx="1" cy="286" r="24" fill='black')

						g
							rect(fill='#35504C' width='100%' height='100%' mask='url(#history_panel_bg_mask)' style="box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15)")

				.history__panel-gradient
				.history__panel-title-wrap
					.history__panel-title Здравствуйте, меня зовут&#32;
						.text-gold Илья Дмитриевич
					.history__panel-subtitle
						.text-gold Я основатель
						|  Фабрики 13, бизнесмен с 20-летним опытом

				.history__text
					div Я разговаривал с людьми, которые работают в мебельной отрасли. И все они&#32;
						.text-gold жаловались, что в Екатеринбурге нет нормального производства.
					br
					div Посмотрел, изучил рынок и увидел, как можно сделать лучше. Как можно сделать так, чтобы заказчики оставались довольны качеством, сроками и&nbsp;
						.history__wave-text отношением к себе.
					br
					.history__read-more Читать полностью

					.history__more-text
						.history__separator
						br
						div В декабре 2019 запустили производство. Предварительно год ушел на подготовку: выбор новых современных станков, людей, подбор и ремонт помещения, организацию процесса.
						br
						div Для удобства наших клиентов в сентябре 2021 построили покрасочную камеру.
						br
						div В феврале 2022 запустили новый фрезерный станок для раскройки полноформатных листов 2800 мм. Можем фрезеровать любые листы, которые существуют. В других компаниях в работу берут листы только 1-2 метра.

			.history__dir
				+assets_img("history-dir", "png")
				.history__quote Лично участвую во&nbsp;всех процессах и&nbsp;
					.text-gold отвечаю за&nbsp;результат
				img.history__after-dir-img(src="/assets/img/history-after-dir.svg")

		.history__question
			.title-block.title-block_light
				.title-block__title.history__question-title
					.text-gold У вас особенный вопрос?
				.title-block__subtitle.history__question-subtitle Задайте его напрямую директору Илье Дмитриевичу

			.history__btn
				.button.button_xl(data-fancybox="" data-src="#modal_to_dir") Задать вопрос директору