.how-to-order.dark-section
	.container
		.title-block.title-block_left.title-block_light.how-to-order__title-block
			.title-block__title.how-to-order__title.title-block_left
				.text-gold Как заказать
				|  и&nbsp;что будет после?
			.title-block__separator
			.title-block__subtitle.how-to-order__subtitle
				.text-gold Если вас что-либо не устроило,
				|  служба заботы искренне и быстро готова вам помочь

		.how-to-order__items
			.how-to-order__item.how-to-order__item_mw
				.how-to-order__number 1
				.how-to-order__item-title Отправка модели
				.how-to-order__item-text Отправляете нам эскиз от руки или модель в программе “Базис”.&#32;
					.text-gold Если у вас только эскиз — ничего страшного,
					|  наш технолог разработает по нему проект.

			.how-to-order__item.how-to-order__item_mw
				.how-to-order__number 2
				.how-to-order__item-title Расчет и согласование
				.how-to-order__item-text Получаете
					.text-gold  расчет
					|  вместе со счетом и сроками
					.text-gold  в тот же день.
					|  Согласовываем проект и детали производства.

			.how-to-order__item
				.how-to-order__number 3
				.how-to-order__item-title Оплата и запуск
				.how-to-order__item-text Оплачиваете счет,
					.text-gold  сразу же запускаем
					|  в работу.

			.how-to-order__item
				.how-to-order__number 4
				.how-to-order__item-title Производство
				.how-to-order__item-text Спокойно ждете 3-7 дней в зависимости от объема.<br>У нас
					.text-gold  не бывает просрочек.

			.how-to-order__item.how-to-order__item_with-arrow.how-to-order__item_mw
				.how-to-order__number 5
				.how-to-order__item-title Упаковка и самовывоз
				.how-to-order__item-text Забираете надежно упакованный заказ,
					.text-gold  проверенный вручную на брак.

			.how-to-order__item.how-to-order__item_picture
				+assets_img("how-to-order-image", "png")
				.how-to-order__under-button Готовая продукция уезжает на склад хранения

		.how-to-order__button
			.button.button_xl(data-fancybox="" data-src="#project_modal") Отправить проект на расчет
			.how-to-order__under-button эскиз от руки или модель в программе “Базис”