include ../_mixins
.invite
	.container
		.title-block
			.title-block__title.invite__title Приглашаю вас на производство, чтобы вы оценили качество лично
			.title-block__separator
			.title-block__subtitle.invite__subtitle С нами вам не придется ничего переделывать

		.invite__block
			.invite__dir
				+assets_img('first-screen-director', 'png')
			.invite__quote
				.invite__quote-text «Все наши станки с ЧПУ. Мало&nbsp;процессов закладывается на ручной труд. Человеческий&nbsp;фактор сведен&nbsp;в&nbsp;минимум.&#32;
					.text-gold Приходите&nbsp;посмотреть сами.»

				.invite__signature
					.invite__signature-name Илья Кочнев
					.invite__signature-who директор

			.invite__separator

			.invite__right
				.invite__logo
					img(src="/assets/img/logo-dark.svg")

				.invite__button
					.button.button_xl(data-fancybox="" data-src="#invite_modal") записаться на просмотр производства
					.invite__under-button для руководителей

		.invite__photos
			.invite__photo
				+assets_img('invite-photo-1', 'jpg')
				.invite__photo-text Кромка
			.invite__photo
				+assets_img('invite-photo-2', 'jpg')
				.invite__photo-text Присадка
			.invite__photo
				+assets_img('invite-photo-3', 'jpg')
				.invite__photo-text Раскрой

	.modal.modal_form.invite-modal#invite_modal
		.title-block
			.title-block__title.modal__title Записаться на просмотр производства
			.modal__subtitle Позвоним, чтобы записать вас<br>на просмотр в удобное время

		form(action="/thanks/" method="post")
			input(type="hidden" name="form-name" value="Записаться на просмотр производства")

			.modal__phone-form.modal__phone-form_small-mt
				.form-group
					input.js-phone.form-group__input.form-group__input_phone.form-group__input_modal.text-input(type="text" name="phone" placeholder="+7 (___) ___-__-__" required)

				.modal__button
					button.button.button_xl.button_w100 Записаться на просмотр

			.modal__form-pk Нажимая на кнопку, вы соглашаетесь с&#32;
				a(href="/policy/") политикой конфиденциальности
