include ../_mixins
.no-problem
	.container
		.no-problem__flex
			.no-problem__text-block
				.title-block.title-block_left.title-block_light
					.title-block__title.title-block__title_40 Наконец-то вы нашли производство,
						div
							.text-gold которое не создает вам проблем

				.no-problem__solve-it А решает их

			.no-problem__dir
				+assets_img("no-problem-dir", "jpg")

		.no-problem__letter
			.no-problem__text.no-problem__text_1
				.no-problem__bold Нам важно, чтобы у заказчика все процессы шли идеально.
				div Без сбоев. Поэтому мы готовы давать больше, чем от нас ожидают.
			.no-problem__text.no-problem__text_2
				p Например, в одном из заказов был дефект по вине клиента. В договоре о бесплатной замене речи не было.

				p Но мы понимали, что если мы его с этим бросим, то у него будут большие проблемы. Нас&nbsp;это не устраивало.

				p.no-problem__bold Мы изготовили деталь в тот же день за свой счет и подарили ее.

			.no-problem__signature
				.no-problem__signature-who Основатель компании
				.no-problem__signature-image
					+assets_img('no-problem-signature', 'png')
				.no-problem__signature-name Кочнев И. Д.