.price-list
	.container
		.price-list__flex
			.price-list__left
				.title-block.title-block_left
					.title-block__title Получите
						.text-gold  прайс-лист
						|  на&nbsp;производство мебели
						div
							.text-gold  + скидку 5%
							br
							|  на 1-й заказ

				.price-list__right-now Прямо сейчас

			.price-list__form-block
				.price-list__form-title Получите прайс-лист за 1 минуту +&nbsp;скидку 5% на первый заказ
				.price-list__form-subtitle
					div Заполните поля ниже. Прайс-лист автоматически будет отправлен на почту
						strong  сразу же.
					div За номером телефона
						strong  закрепляется
						|  доступ к ценам и
						strong  скидка на первый заказ

				form.price-list__form(action="/thanks/" method="post")
					input(type="hidden" name="form-name" value="Получить прайс лист")
					.form-group
						.form-group__label E-mail* (на почту пришлем прайс)
						input.form-group__input.form-group__input_email(type="email" name="email_for_price_list" placeholder="ivanov@mail.ru" required)
					.form-group
						.form-group__label Телефон (обсудим индивидуальные условия)
						input.form-group__input.form-group__input_phone(type="text" name="phone" placeholder="Введите номер" required)

					.price-list__button
						.button.button_xl Получить прайс-лист

					.form-pk Я принимаю&#32;
						a(href="#") условия передачи данных