.quality-control.pc-only
	.container
		.title-block
			.title-block__title
				div Как мы&#32;
				.text-gold контролируем качество

		.quality-control__items
			.quality-control__item
				+assets_img("quality-control-1", "jpg")
				.quality-control__text Работаем только с проверенными поставщиками фурнитуры:&#32;
					strong Blum и Boyard

			.quality-control__item
				+assets_img("quality-control-2", "jpg")
				.quality-control__text Наш специалист выбирает лучшие&#32;
					strong краски&nbsp;и&nbsp;лаки.
					|  Выявляет опытным путем.

			.quality-control__item
				+assets_img("quality-control-3", "jpg")
				.quality-control__text Работаем только с двумя марками ЛДСП.&#32;
					strong Эггер 90% и Lamarty 10%.
					div Другие плиты рыхлые и ломаются при&nbsp;распиле. Поэтому мы их не берем.

		.quality-control__reccomend
			.quality-control__reccomend-left
				.title-block.title-block_left
					.title-block__title.quality-control__reccomend-title Рекомендуем своим клиентам Эггер, чтобы&#32;
						.text-gold быть уверенными
							.quality-control__briliant-flex
								svg(width="54" height="57" viewBox="0 0 54 57" fill="none" xmlns="http://www.w3.org/2000/svg").
									<path d="M45.0861 52.6028L43.3134 53.5874C43.182 53.6529 43.182 53.7843 43.3134 53.8498L45.0861 54.8344L45.1516 54.8998L46.1362 56.6725C46.2017 56.804 46.3331 56.804 46.3986 56.6725L47.3832 54.8998L47.4487 54.8344L49.2214 53.8498C49.3528 53.7843 49.3528 53.6529 49.2214 53.5874L47.4487 52.6028L47.3832 52.5373L46.3986 50.7646C46.3331 50.6332 46.2017 50.6332 46.1362 50.7646L45.0861 52.6028C45.1516 52.5373 45.1516 52.5373 45.0861 52.6028V52.6028Z" fill="#435653"/>
									<path d="M4.44739 3.43084L2.14936 4.67834C2.01792 4.74382 2.01792 4.94075 2.14936 5.07218L4.44739 6.31967C4.51288 6.31967 4.51288 6.38516 4.51288 6.38516L5.76037 8.68319C5.82586 8.81463 6.02278 8.81463 6.15421 8.68319L7.4017 6.38516C7.4017 6.31967 7.46719 6.31967 7.46719 6.31967L9.76523 5.07218C9.89666 5.00669 9.89666 4.80977 9.76523 4.67834L7.46719 3.43084C7.4017 3.43084 7.4017 3.36536 7.4017 3.36536L6.15421 1.06732C6.08872 0.935892 5.8918 0.935892 5.76037 1.06732L4.51288 3.36536C4.51333 3.3649 4.51333 3.43084 4.44739 3.43084Z" fill="#435653"/>
									<path d="M8.84459 51.0937L6.80951 52.2097C6.67808 52.2752 6.67808 52.4721 6.80951 52.538L8.84459 53.6541L8.91007 53.7195L10.0261 55.7546C10.0916 55.886 10.2885 55.886 10.3544 55.7546L11.4705 53.7195L11.5359 53.6541L13.571 52.538C13.7025 52.4725 13.7025 52.2756 13.571 52.2097L11.5359 51.0937L11.4705 51.0282L10.3544 48.9931C10.289 48.8617 10.092 48.8617 10.0261 48.9931L8.91007 51.0282C8.84459 51.0282 8.84459 51.0937 8.84459 51.0937Z" fill="#435653"/>
									<path d="M50.7312 44.3982L49.4183 45.1204C49.3528 45.1859 49.3528 45.3173 49.4183 45.3828L50.7312 46.105C50.7312 46.105 50.7967 46.105 50.7967 46.1705L51.5188 47.4834C51.5843 47.5489 51.7158 47.5489 51.7812 47.4834L52.5034 46.1705C52.5034 46.1705 52.5034 46.105 52.5689 46.105L53.8818 45.3828C53.9473 45.3173 53.9473 45.1859 53.8818 45.1204L52.5689 44.3982C52.5689 44.3982 52.5034 44.3982 52.5034 44.3327L51.7812 43.0198C51.7158 42.9543 51.5843 42.9543 51.5188 43.0198L50.7312 44.3983V44.3982Z" fill="#435653"/>
									<path d="M1.49289 13.6072L0.179974 14.3294C0.114488 14.3949 0.114488 14.5263 0.179974 14.5918L1.49289 15.314C1.49289 15.314 1.55837 15.314 1.55837 15.3795L2.28056 16.6924C2.34605 16.7579 2.47748 16.7579 2.54297 16.6924L3.26516 15.3795C3.26516 15.3795 3.26516 15.314 3.33064 15.314L4.64355 14.5918C4.70904 14.5263 4.70904 14.3949 4.64355 14.3294L3.33064 13.6072C3.33064 13.6072 3.26516 13.6072 3.26516 13.5417L2.54297 12.2288C2.47748 12.1633 2.34605 12.1633 2.28056 12.2288L1.49288 13.6072C1.55837 13.5418 1.55837 13.5418 1.49288 13.6072L1.49289 13.6072Z" fill="#435653"/>
									<path d="M50.7312 4.41579L49.4183 5.13798C49.3528 5.20347 49.3528 5.3349 49.4183 5.40039L50.7312 6.12258C50.7312 6.12258 50.7967 6.12258 50.7967 6.18806L51.5188 7.50098C51.5843 7.56646 51.7158 7.56646 51.7812 7.50098L52.5034 6.18806C52.5034 6.18806 52.5034 6.12258 52.5689 6.12258L53.8818 5.40039C53.9473 5.3349 53.9473 5.20347 53.8818 5.13798L52.5689 4.41579C52.5689 4.41579 52.5034 4.41579 52.5034 4.35031L51.7812 3.0374C51.7158 2.97191 51.5843 2.97191 51.5188 3.0374L50.7312 4.41584C50.7966 4.35036 50.7966 4.35036 50.7312 4.41584V4.41579Z" fill="#435653"/>
									<path d="M52.2406 22.9294L45.4131 10.5212C45.0847 9.86453 44.4285 9.4707 43.7062 9.4707H14.2287C13.572 9.4707 12.9158 9.86454 12.5219 10.4553L5.03767 22.9291C4.64383 23.5858 4.64383 24.4389 5.10315 25.0956L27.6872 56.0174C27.9497 56.4112 28.4094 56.6741 28.9347 56.6741C29.3945 56.6741 29.8538 56.4117 30.1162 56.0174L52.1095 25.0299C52.5688 24.3737 52.6343 23.5856 52.2404 22.9293L52.2406 22.9294ZM49.2864 22.9294H40.2264L43.9027 13.2786L49.2864 22.9294ZM37.4691 24.8985L29.0003 52.1439L20.4655 24.8985H37.4691ZM21.1219 22.9294L29 12.4249L36.878 22.9294H21.1219ZM31.1666 12.0966H42.2618L38.5194 21.8788L31.1666 12.0966ZM19.415 21.8788L15.6726 12.0966H26.7678L19.415 21.8788ZM25.9146 49.0585L8.32 24.8988H18.4301L25.9146 49.0585ZM39.5701 24.8988H49.024L32.0859 48.7303L39.5701 24.8988ZM13.966 13.1472L17.7084 22.9294H8.12305L13.966 13.1472Z" fill="#435653"/>

								|  в качестве

					.quality-control__reccomend-text
						strong Если вы&nbsp;привозите свои детали,
						|  то&nbsp;мы&nbsp;можем дать качество только на&nbsp;услуги. То&nbsp;есть, что присадка будет в&nbsp;нужном размере и&nbsp;в&nbsp;нужном месте.<br><br>По&nbsp;качеству вашей плиты мы&nbsp;не&nbsp;можем дать гарантий.

			.quality-control__reccomend-right
				+assets_img("quality-control-4", "jpg")
				.quality-control__picture-label Начальник производства