.quiz-section
	.container
		.quiz-section__header
			.title-block.title-block_left.quiz-section__left
				.title-block__title Ответьте на&nbsp;3 простых вопроса и
					.text-gold &nbsp;получите расчет стоимости
					|  в&nbsp;течение рабочего дня

			.quiz-section__right
				.quiz-section__dir
					+assets_img("quiz-dir-photo", "png")

					.quiz-section__dir-quote «Я лично отвечаю за&nbsp;качество и&nbsp;сроки по каждому заказу.»
					.quiz-section__dir-name Кочнев Илья Дмитриевич
						br
						strong Основатель компании

		.quiz
			.quiz__steps
				.quiz__step.quiz__step_done 1
				.quiz__step.quiz__step_done 2
				.quiz__step 3

			.quiz__left
				.quiz__title Приложите эскиз от руки или модель в программе «Базис»

				.quiz__file
					.quiz__file-plus
					.quiz__file-label Если у вас только эскиз, наш технолог разработает по нему модель

				.quiz__buttons
					.button.button_faded У меня нет
					.button Дальше

			.quiz__vertical-separator
			.quiz__right
				.quiz__questions-yet Осталось 2 вопроса
				.quiz__in-the-end
					.quiz__in-the-end-you В конце теста вы:
					.quiz__in-the-end-items
						.quiz__in-the-end-item — Получите расчет стоимости
						.quiz__in-the-end-item — Узнаете сроки изготовления
						.quiz__in-the-end-item — Получите бесплатную консультацию со специалистом

