.recognize-you
	.title-block.title-block_light
		.title-block__title.recognize-you__title
			.text-gold Узнаете себя?
		.title-block__subtitle.recognize-you__subtitle С кем вообще работать?

	.container
		.recognize-you__items
			.recognize-you__item
				div Опять
				.text-gold сорваны сроки
			.recognize-you__item
				div Получили
				.text-gold плохое качество
			.recognize-you__item
				div Клиенты
				.text-gold подают в суд