.services
	.container
		.title-block
			.title-block__placeholder Услуги
			.title-block__title Собрали все услуги мебельного производства
				.text-gold  в&nbsp;одном&nbsp;месте
			.title-block__separator
			.title-block__subtitle Не работаем с эконом-сегментом

		.services__items
			.services__item
				.services__title Производство

				.services__picture
					+assets_img('service1', 'jpg')

				.services__text.services__text_1
					ul
						li Раскрой
						li Кромление
						li Присадка
						li Фрезеровка
						li Грунтовка
						li Шлифовка
						li Покраска
						li Изготовление из шпона
					br
					.text-gold С вашими или нашими материалами. <strong>Предсборка.</strong>
					|  Надежная упаковка.

			.services__item
				.services__title Проектирование

				.services__picture
					+assets_img('service2', 'jpg')

				.services__text.services__text_2 Услуги технолога
					strong.text-gold  по проектированию изделий с эскиза
					|  от руки.

				.services__separator

				.services__text.services__text_3 Так же можно прислать свой проект в&nbsp;программе “Базис”.

			.services__item
				.services__title Материалы

				.services__picture
					+assets_img('service3', 'jpg')

				.services__text.services__text_4
					div Предоставляем
						.text-gold  огромный ассортимент
						|  плитных материалов и фурнитуры. ЛДСП, МДФ, фасадные плиты, шпонированный МДФ.
					br
					div
						.text-gold
							strong Можно со своими.
					br
					| Большинство работает только с ЛДСП. С покраской и шпоном не работают.
					.text-gold  Мы&nbsp;работаем со всем.