.something-went-wrong.dark-section
	.container
		.title-block.title-block_light.something-went-wrong__title
			.title-block__title
				div А что будет&#32;
				.text-gold если что-то пойдет не так?

		.something-went-wrong__items
			.something-went-wrong__item
				.something-went-wrong__number 1
				.something-went-wrong__text Вам нужно&#32;
					.text-gold отправить фото и&nbsp;претензию
					|  с&nbsp;описанием проблемы на&nbsp;почту или в&nbsp;WhatsApp.<br><br>Без бюрократии.
			.something-went-wrong__item
				.something-went-wrong__number 2
				.something-went-wrong__text
					div Менеджер смотрит.
					br
					div Мы&#32;
						.text-gold принимаем решение
					| &mdash; сами устраняем дефект или он&nbsp;не&nbsp;по&nbsp;нашей вине.
			.something-went-wrong__item
				.something-went-wrong__number 3
				.something-went-wrong__text
					.text-gold Когда дефект по&nbsp;вашей вине:
					div если это одна деталь и&nbsp;у&nbsp;нас есть остаток такого ЛДСП, мы&nbsp;можем&#32;
						.text-gold изготовить заново и&nbsp;подарить вам.
					br
					div Нам это практически ничего не&nbsp;стоит, а&nbsp;вам приятно. И&nbsp;быстро.
			.something-went-wrong__item
				.something-went-wrong__number 4
				.something-went-wrong__text
					div Называете номер детали по&nbsp;этикетке.
					br
					div Мы берем из&nbsp;модели деталь и&nbsp;отправляем на&nbsp;производство.
					div
						.text-gold 10&nbsp;минут и&nbsp;готово.

		.something-went-wrong__we-care
			.something-went-wrong__we-care-text
				div Да, мы заботимся о вас
				.text-gold даже за свой счет