.speed-work.pc-only
	.container
		.title-block
			.title-block__title.speed-work__title Ускоряем и облегчаем работу ваших сборщиков
			.title-block__separator
			.title-block__subtitle.speed-work__subtitle Оптимизируем ваши бизнес-процессы

		.speed-work__items
			.speed-work__item
				.speed-work__item-title Клеим легкосъемные этикетки для ускорения и&nbsp;облегчения работы сборщиков
				+assets_img("speed-work-1", "png")
				.speed-work__info1
					.speed-work__info-text Другие компании их не клеят совсем или клеят такие, что&nbsp;их&nbsp;не&nbsp;отклеить.
			.speed-work__item
				.speed-work__item-title Ставим на этикетке номер позиции и указываем, из&nbsp;какого модуля деталь
				+assets_img("speed-work-2", "png")
				.speed-work__info2
					.speed-work__info-text
						.speed-work__bold Сборщикам не надо искать откуда эта деталь.
						div Из блока 1 кладут в одну стопку, из блока 2 в другую.
						.speed-work__bold Быстро отсортировали детали и быстрее сделали сборку.