.stored-product.dark-section
	.container
		.stored-product__flex
			.stored-product__left
				.title-block.title-block_left.title-block_light
					.title-block__title
						.text-gold Как товар хранится на складе и как вы
						|  обеспечиваете безопасность?

				.stored-product__lock
					+assets_img("stored-product-lock", "png")
					.stored-product__lock-text Все риски исключены

			.stored-product__right
				.stored-product__item
					.stored-product__item-text Храним в упаковке&#32;
						.text-gold в&nbsp;гофрокартоне,
						|  готовыми палетами
					+assets_img("stored-product-1", "png")
				.stored-product__item
					.stored-product__item-text
						.text-gold Отапливаем
						|  цех
					+assets_img("stored-product-2", "png")
				.stored-product__item
					.stored-product__item-text Контролируем&#32;
						.text-gold температуру&nbsp;и&nbsp;влажность,
						|  чтобы&nbsp;ЛДСП не набухало
					+assets_img("stored-product-3", "png")
				.stored-product__item
					.stored-product__item-text Большая&#32;
						.text-gold охраняемая территория
						|  На въезде КПП. Машины только по&nbsp;пропускам.
					+assets_img("stored-product-4", "png")
				.stored-product__item
					.stored-product__item-text
						.text-gold На выезде
						|  с территории ставится печать организации
					+assets_img("stored-product-5", "png")
				.stored-product__item
					.stored-product__item-text
						.text-gold Все под видеонаблюдением.
						|  Краж не было ни разу. Охранная система АЯКС.
					+assets_img("stored-product-6", "png")