.we-are-chosen.dark-section.dark-section_with-arrow
	.we-are-chosen__gradient1
	.we-are-chosen__gradient2
	.container
		.title-block.title-block_light
			.title-block__title.we-are-chosen__section-title Нас выбирают, когда нужно сделать всё
				.text-gold  на высшем уровне

			.title-block__separator

			.title-block__subtitle.we-are-chosen__section-subtitle Посмотрите, за счет чего на производстве&#32;
				.we-are-chosen_no-brak исключен брак

		.we-are-chosen__items
			.we-are-chosen__item
				+assets_img("we-are-chosen-1", "png")
				.we-are-chosen__item-content
					img(src="/assets/img/yes-icon.svg")
					.we-are-chosen__item-text Все станки абсолютно новые, с ЧПУ,
						br
						.we-are-chosen__gold это исключает человеческий фактор

			.we-are-chosen__item
				+assets_img("we-are-chosen-2", "png")
				.we-are-chosen__item-content
					img(src="/assets/img/yes-icon.svg")
					.we-are-chosen__item-text На кромко-облицовке
						.we-are-chosen__gold  используем очистительную жидкость
						|  на входе и&nbsp;выходе детали

			.we-are-chosen__item
				+assets_img("we-are-chosen-3", "png")
				.we-are-chosen__item-content
					img(src="/assets/img/yes-icon.svg")
					.we-are-chosen__item-text Каждую неделю идет&#32;
						.we-are-chosen__gold проверочный обгон
						| &nbsp;всего оборудования на ровность реза, присадки

			.we-are-chosen__item
				+assets_img("we-are-chosen-4", "png")
				.we-are-chosen__item-content
					img(src="/assets/img/yes-icon.svg")
					.we-are-chosen__item-text Перед упаковкой&#32;
						.we-are-chosen__gold каждая деталь просматривается на брак вручную,&#32;
						div обрабатывается, протирается человеком&nbsp;и&nbsp;упаковывается.
						br
						.we-are-chosen__gold На производствах других компаний никто&nbsp;не&nbsp;протирает каждую деталь.

			.we-are-chosen__item
				+assets_img("we-are-chosen-5", "png")
				.we-are-chosen__item-content
					img(src="/assets/img/yes-icon.svg")
					.we-are-chosen__item-text
						div Плотная упаковка — трехслойный гофрокартон + обрезки ЛДСП. Чтобы детали не ездили и не скользили в упаковке, их обкладывают.
						br
						.we-are-chosen__gold Так мы можем уберечь деталь.

			.we-are-chosen__item
				+assets_img("we-are-chosen-6", "png")
				.we-are-chosen__item-content
					img(src="/assets/img/yes-icon.svg")
					.we-are-chosen__item-text В каждую коробку товар укладывается по весу,
						.we-are-chosen__gold  чтобы смогли поднять 1-2 человека

		.we-are-chosen__button
			a.button.button_xl(href="/files/technolog.pdf" target="_blank") Скачать информацию для&nbsp;технологов