.whatsapp-section
	.whatsapp-section__wrap
		a.button.button_whatsapp(href="https://api.whatsapp.com/send?phone=79000386613" target="_blank") Задайте нам вопрос в whatsapp
		.whatsapp-section__under-button И получите ответ в течение 10 минут