.whatsapp-modal.modal#whatsapp_modal
	.title-block
		.title-block__title Напишите нам в WhatsApp
		.title-block__subtitle.whatsapp-modal__subtitle Отсканируйте QR код для быстрого перехода в WhatsApp с телефона
		.whatsapp-modal__img
			img(src="/assets/img/wa-qr.gif")
		a.whatsapp-modal__link(href="whatsapp://send?phone=79000386613") WA: +7 (900) 038-66-13