.whatsapp-section
	.whatsapp-section__wrap
		.button.button_whatsapp(data-fancybox="" data-src="#whatsapp_modal") Задайте нам вопрос в whatsapp
		.whatsapp-section__under-button И получите ответ в течение 10 минут
